# @Data Structures

In [30]:
L = [1,3,4.9,"name",3]
T = (1,3,4.9,"name",3)
S = {1,3,4.9,"name",3} #cant contain duplicates
D = {23:"twothree",'B':43,'C':'CCD'}

In [7]:
print("Type of L", type(L))
print("Type of T", type(T))
print("Type of S", type(S))
print("Type of D", type(D))

Type of L <class 'list'>
Type of T <class 'tuple'>
Type of S <class 'set'>
Type of D <class 'dict'>

## accessing
#### accessing element in list

In [8]:
print(L[1])
print(T[1])
print(3 in S) #bool
print(D[23])

3
3
True
twothree

In [5]:
S

{1, 3, 4.9, 'name'}

In [9]:
L

[1, 3, 4.9, 'name', 3]

In [10]:
L[1:3]

[3, 4.9]

In [11]:
L[::-1]

[3, 'name', 4.9, 3, 1]

In [12]:
T[:3]

(1, 3, 4.9)

## inserting
### - list
(mutable)
##### """ L + [ ]   OR        L.append( ) """

In [21]:
L

[1, 3, 4.9, 'name', 3]

In [28]:
L = L + ['how', 'are', 6, 'you']

"""OR"""

L.append(6.8)

In [27]:
print(L)

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you', 'how', 'are', 6, 'you', 6.8, 'how', 'are', 6, 'you', 6.8]

### - tuple    
(inmutable can't insert )
##### """ T1  +  T2  """

In [32]:
T = (1,3,4.9,"name",3)
T2 = ('a', 'b', 45)
T3 = T + T2
print(T3)

(1, 3, 4.9, 'name', 3, 'a', 'b', 45)

### - set
##### """  S.add( )    OR    S.update({ 23,"game"} )    """
(cant contain duplicates)

In [34]:
S = {1,3,4.9,"name",3} 
S.add(56)
S

{1, 3, 4.9, 56, 'name'}

In [37]:
S.update({23, "fra", "game"})
S

{1, 23, 3, 4.9, 56, 'fra', 'game', 'name'}

### - dictionary

In [41]:
D = {23:"twothree",'B':43,'C':'CCD'}

In [42]:
D = D['newKey'] = "newValue"
print(D)

TypeError: 'str' object does not support item assignment