# @Data Structures

In [30]:
L = [1,3,4.9,"name",3]
T = (1,3,4.9,"name",3)
S = {1,3,4.9,"name",3} #cant contain duplicates
D = {23:"twothree",'B':43,'C':'CCD'}

In [7]:
print("Type of L", type(L))
print("Type of T", type(T))
print("Type of S", type(S))
print("Type of D", type(D))

Type of L <class 'list'>
Type of T <class 'tuple'>
Type of S <class 'set'>
Type of D <class 'dict'>

## --- accessing  ---
#### accessing element in list

In [8]:
print(L[1])
print(T[1])
print(3 in S) #bool
print(D[23])

3
3
True
twothree

In [5]:
S

{1, 3, 4.9, 'name'}

In [9]:
L

[1, 3, 4.9, 'name', 3]

In [10]:
L[1:3]

[3, 4.9]

In [11]:
L[::-1]

[3, 'name', 4.9, 3, 1]

In [12]:
T[:3]

(1, 3, 4.9)

## ---- inserting ---
### - list
(mutable)
##### """ L + [ ]   OR        L.append( ) """

In [21]:
L

[1, 3, 4.9, 'name', 3]

In [28]:
L = L + ['how', 'are', 6, 'you']

"""OR"""

L.append(6.8)

In [27]:
print(L)

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you', 'how', 'are', 6, 'you', 6.8, 'how', 'are', 6, 'you', 6.8]

### - tuple    
(inmutable can't insert )
##### """ T1  +  T2  """

In [32]:
T = (1,3,4.9,"name",3)
T2 = ('a', 'b', 45)
T3 = T + T2
print(T3)

(1, 3, 4.9, 'name', 3, 'a', 'b', 45)

### - set
##### """  S.add( )    OR    S.update({ 23,"game"} )    """
(cant contain duplicates)

In [34]:
S = {1,3,4.9,"name",3} 
S.add(56)
S

{1, 3, 4.9, 56, 'name'}

In [37]:
S.update({23, "fra", "game"})
S

{1, 23, 3, 4.9, 56, 'fra', 'game', 'name'}

### - dictionary
(mutable), can't concatenate
##### """  D['newKey'] = "newValue"
##### """ D.update(D2)  """

In [46]:
D = {23:"twothree",'B':43,'C':'CCD'}

In [47]:
D['newKey'] = 'newValue'
print(D)

{23: 'twothree', 'B': 43, 'C': 'CCD', 'newKey': 'newValue'}

In [56]:
D2 = {"y":"yy","z":10}
D.update(D2)
D

{23: 'twothree', 'B': 43, 'newKey': 'newValue', 'y': 'yy', 'z': 10}

## --- del / remove /clear ---

### - list  delete

In [53]:
print(L)
del L[2]
print(L)

[1, 3, 4.9]
[1, 3]

### - set remove()

In [54]:
print(S)
S.remove('game')
print(S)

{1, 3, 4.9, 'game', 'name', 'fra', 23, 56}
{1, 3, 4.9, 'name', 'fra', 23, 56}

### - dictionary delete

In [55]:
print(D)
del D['C']
print(D)

{23: 'twothree', 'B': 43, 'C': 'CCD', 'newKey': 'newValue'}
{23: 'twothree', 'B': 43, 'newKey': 'newValue'}

## --- copy ---

### - list

In [57]:
L2 = L
L2

[1, 3]

In [61]:
L2[1] = "three"
L2

[1, 'three']

In [63]:
L2 = L.copy()
L2[1] = 4.9
L2

[1, 4.9]

In [64]:
L

[1, 'three']

In [68]:
"""this is a new list when you slice"""
L = [1,3,4.9,"name",3]
L3 = L[0:4]
L3

[1, 3, 4.9, 'name']

In [69]:
L

[1, 3, 4.9, 'name', 3]

### - tuple 
you can't make a copy, it's inmutable

# --- ### exercises ### ---

In [1]:
L = [1,3,4.9,"name",3]
T = (1,3,4.9,"name",3)
S = {1,3,4.9,"name",3} #cant contain duplicates
D = {23:"twothree",'B':43,'C':'CCD'}

In [20]:
""" \indexing elements\ abstract list"""
D2 =  {'a':L,'b':T,'c':D}
D2['a'][3]

'name'

In [6]:
K = D2['c']

In [7]:
K

{23: 'twothree', 'B': 43, 'C': 'CCD'}

In [8]:
for x in K:
    print(x,K[x])

23 twothree
B 43
C CCD

In [19]:
L3 = [L,T,D,23,"game"]

"""you can access an abstract list with element [2] that is a dictionary"""
print(L3[2])
print("type :" , type(L3[2]))

{23: 'twothree', 'B': 43, 'C': 'CCD'}
type : <class 'dict'>

In [21]:
"""giving the square of x in range 10"""
L4 = [x**2 for x in range(10)]
L4

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
"""set of squares, starting from 2 , till 20 (not including), and jumping by 3"""
S3 = {x**2 for x in range(2,20,3)} #start end step
S3

{4, 25, 64, 121, 196, 289}

##### problem 1

In [27]:
"""you are a teacher and you have different student records,
containing id, marks of subject.All this records are in hard copy,you want to enter all data in computer
and comute average of marks of each student and display"""

def getDataFromUser():
    D = {}
    while True:
        studentId = input("enter student ID :")
        marksList = input("Enter the marks by comma separated values :")
        moreStudents = input('Enter "no" to quit insertion :')
        if studentId in D:
            print(studentId, "is already inserted")
        else: 
            """we give the key(studentId) values(marks) separated by comma"""
            D[studentId] = marksList.split(",")
        """passing the answer no to lowercase, and returning D"""
        if moreStudents.lower() == "no" :
            return D

In [28]:
studentData = getDataFromUser()

enter student ID :12
Enter the marks by comma separated values :24,65,87
Enter "no" to quit insertion :asd
enter student ID :45
Enter the marks by comma separated values :44,55,66,77,4
Enter "no" to quit insertion :asd
enter student ID :12
Enter the marks by comma separated values :45,45
Enter "no" to quit insertion :asdas
12 is already inserted
enter student ID :23
Enter the marks by comma separated values :45,45
Enter "no" to quit insertion :no